<header class="main-header">

  <!-- Logo -->
  <a href="index.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Um</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> LT</font></font></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projeto Oficina</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font></font></span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
   

    <div _ngcontent-c1="" class="navbar-custom-menu">
      <ul _ngcontent-c1="" class="nav navbar-nav">
        <li _ngcontent-c1="" class="dropdown user user-menu">
          <a _ngcontent-c1="" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <span _ngcontent-c1="" class="hidden-xs">
              <font _ngcontent-c1="" style="vertical-align: inherit;">
                <font _ngcontent-c1="" style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Alexander Pierce
                    </font>
                  </font>
                </font>
              </font>
            </span>
          </a>
        </li>
        <li _ngcontent-c1="" class="dropdown user user-menu">
          <a href="#" class="btn btn-default btn-flat">
            <span _ngcontent-c1="" class="hidden-xs">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  Sair
                </font>
              </font>
            </span>
          </a>
        </li>
      </ul>
    </div>

</nav>
</header>
