<div class="col-md-4" style="position:absolute; left:33%; top:100px">

  <div class="box box-info" style="width:500px">
    <div class="box-header with-border">
      <h3 class="box-title">Projeto Oficina | Novo Usuário</h3>
    </div>
  
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="cadastrar()">
      <div class="alert" role="alert" *ngIf="message">
        <strong> {{ message.text }}</strong>
      </div>

      <div class="box-body">
        <div class="form-group">
          <label for="inputCPF" class="col-sm-4 control-label">Nome de usuario:</label>

          <div class="col-sm-8">
            <input type="text"
                   [(ngModel)]="usuario.nomeUsuario"
                   class="form-control"
                   id="inputCPF"
                   name="CPF"
                   placeholder="Digite o usuario"
                   required/>
          </div>
        </div>
        
        <div class="form-group">
         <label for="inputSenha" class="col-sm-4 control-label">Senha:</label>

          <div class="col-sm-8">
            <input type="password"
                   [(ngModel)]="usuario.senha"
                   class="form-control"
                   id="inputSenha"
                   name="Senha"
                   placeholder="Introduza a senha"
                   required>
          </div>
        </div>

        <div class="form-group">
          <label for="inputSenhaConfirm" class="col-sm-4 control-label">Confirme a senha:</label>
 
           <div class="col-sm-8">
             <input type="password"
                    [(ngModel)]="senhaConfimacao"
                    class="form-control"
                    id="inputSenhaConfirm"
                    name="senhaConfimacao"
                    placeholder="Confirme a senha"
                    required>
           </div>
        </div>
        <!-- Politica Acesso -->
        <div class="box-body">
          <div class="form-group">
            <label for="inputPerfil" class="col-sm-4 control-label">Perfil:</label>

            <div class="col-sm-8">
              <select 
              [(ngModel)]="usuario.idPoliticaAcesso"
              class="form-control"
              id="inputPoliticaAcesso"
              name="PoliticaAcesso"
              placeholder="Selecione o perfil"
              required
              >
                <option value="1">Cliente</option>
                <option value="2">Mecânico</option>
              </select>
            </div>
          </div>
        </div>


        <hr/>
 
        <!-- Nome completo -->
        <div class="box-body">
          <div class="form-group">
            <label for="inputNomeCompleto" class="col-sm-4 control-label">Nome de completo:</label>
  
            <div class="col-sm-8">
              <input type="text"
                     [(ngModel)]="usuario.nomeCompleto"
                     class="form-control"
                     id="inputNomeCompleto"
                     name="NomeCompleto"
                     placeholder="Digite seu nome"
                     required/>
            </div>
          </div>
        </div>

        <!-- Cpf -->
        <div class="box-body">
          <div class="form-group">
            <label for="inputCPF" class="col-sm-4 control-label">Cpf:</label>
  
            <div class="col-sm-8">
              <input type="text"
                     [(ngModel)]="usuario.cpf"
                     class="form-control"
                     id="inputCPF"
                     name="CPF"
                     placeholder="Digite seu CPF"
                     required/>
            </div>
          </div>
        </div>

        <!-- Telefone -->
        
        <div class="box-body">
          <div class="form-group">
            <label for="inputTelefone" class="col-sm-4 control-label">Telefone:</label>
  
            <div class="col-sm-8">
              <input type="text"
                     [(ngModel)]="usuario.telefone"
                     class="form-control"
                     id="inputTelefone"
                     name="Telefone"
                     placeholder="Digite seu telefone"
                     required/>
            </div>
          </div>
        </div>

        <!-- Endereco -->
        <div class="box-body">
          <div class="form-group">
            <label for="inputEndereco" class="col-sm-4 control-label">Endereco:</label>

            <div class="col-sm-8">
              <input type="text"
                    [(ngModel)]="usuario.endereco"
                    class="form-control"
                    id="inputEndereco"
                    name="Endereco"
                    placeholder="Digite seu endereço"
                    required/>
            </div>
          </div>
        </div>

        <!-- Cep -->
        <div class="box-body">
          <div class="form-group">
            <label for="inputCep" class="col-sm-4 control-label">CEP:</label>

            <div class="col-sm-8">
              <input type="text"
                    [(ngModel)]="usuario.cep"
                    class="form-control"
                    id="inputCep"
                    name="CEP"
                    placeholder="Digite seu CEP"
                    required/>
            </div>
          </div>
        </div>

        <!-- Bairro -->
        <div class="box-body">
          <div class="form-group">
            <label for="inputBairro" class="col-sm-4 control-label">Bairro:</label>

            <div class="col-sm-8">
              <input type="text"
                    [(ngModel)]="usuario.bairro"
                    class="form-control"
                    id="inputBairro"
                    name="Bairro"
                    placeholder="Digite seu bairro"
                    required/>
            </div>
          </div>
        </div>

        <!-- Cidade -->
        <div class="box-body">
          <div class="form-group">
            <label for="inputCidade" class="col-sm-4 control-label">Cidade:</label>

            <div class="col-sm-8">
              <input type="text"
                    [(ngModel)]="usuario.cidade"
                    class="form-control"
                    id="inputCidade"
                    name="CPF"
                    placeholder="Digite sua Cidade"
                    required/>
            </div>
          </div>
        </div>


          <!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" id="btnVoltar" [routerLink]="['/login']" class="btn btn-default">Voltar</button>
          <button type="submit" id="btnCadastrar" [disabled]="!form.valid" class="btn btn-info pull-right">Cadastar</button>
        </div>
        
      </div>
    </form>
  </div>
</div>
